# Practice Questions

These problems are here for you to practice what we learned in this section. They are not graded in the sense of a certain number of marks per correct answer, however, the work you put in to the practice assignments counts towards your engagement mark. Solutions won't be provided (it's much better to figure the answer out for yourself). If you get stuck and can't find what you need in the labs notebooks please email me.

In the email, tell me

* What you tried
* What you expected to happen
* What actually happened
* Any ideas you have about how you might solve the problem

I'll be happy to help you out provided you can show me that you've put in the effort.

## Types

1. Print the type of each of these values

In [ ]:
val1 = '8'
val2 = 15
val3 = [15, '8']
val4 = 9 / 5

2. What is 45782 divided by 227? Convert your answer to an integer; ignore any remainder, i.e. if the answer is 1.8 your answer is 1

In [ ]:
45782 / 227

3. Repeat 2, but this time round your answer to the nearest whole number

5. Fix the following code

In [ ]:
group_a = '10'
group_b = 20
number_of_students = group_a + group_b
print("There are " + number_of_students + " students in the class")

5. Create a list for each of *ints*, *floats* and *strings*. Add every item in *items* to the correct list

In [ ]:
items = [5, 1.5, 'hello', 7, 2.0, 3, 'world']

6. Find the remainder of 273 / 17

7. Loop through the numbers 1 to 100, print out each number if it's divisible by 6

8. Write a function called isOdd. The function should take a single parameter and return True if it's an odd number, false otherwise

9. Update the isOdd function. If the user passes any value that isn't an int return False

10. Write a function called limit100. The function should take a single numeric parameter, the function should return the parameter provided it's less than 100. If the number is greater than 100, the function returns 100. Make sure you test it with some values

11. Write a function called doubleIt, the function should take a number and return that number multiplied by 2

12. 3 to the power of 2 is 3 doubled. 3 to the power of 3 is 3 doubled and then doubled again. 3 to the power of 4 is 3 doubled three times. Use your function from 11 to write a new function called exponential which takes a number and a power. The function should raise the number to the power.

In [2]:


#exponential(2, 3) # should return 8
#exponential(4, 4) # should return 256

16

13. Write a lambda function to produce a list which halves the values of items

In [ ]:
items = [20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

## Lists

14. Print out the third item in the items list

In [ ]:
items = [20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

15. Print out the second-last item in the items list

16. Print out the first 4 items in the items list

17. Print out the last 3 items in the items list

18. Print out the second, third, fourth and fifth items in the items list

19. Print out each item in ironies, ask "isn't it ironic" after you print each one

In [ ]:
ironies = ["Rain on your wedding day", "Free ride when you've already paid", "Good advice that you just didn't take"]

#Should return 
#Rain on your wedding day... isn't it ironic?
#Free ride when you've already paid... isn't it ironic?
#Good advice that you just didn't take.. isn't it ironic?

20. Fix the ordering of this list using insert() and remove() to put everything in its correct order

In [ ]:
notes = ['Do', 'Re', 'Do', 'Fa', 'Mi', 'Ti', 'La', 'So']


#correct order is = ['Do', 'Re', 'Mi', 'Fa', 'So', 'La', 'Ti', 'Do']

21. Use a list comprehension to create the a list outputs from the list inputs

In [ ]:
inputs = [1, 2, 3, 4, 5]

# outputs should be [11, 12, 13, 14, 15]

22. Generate a list of 100 random numbers between 1 and 30

23. Sort the list of random numbers in descending order (you may need to Google how to do this)

## Sets

24. Create a set, A, containing the elements 'a', 'b' and 'c'

25. Create a new set, B, from the following list

In [ ]:
l = ['c', 'c', 'd', 'e', 'f']

26. Check the length of the list and the set from 25. above. Why are they different lengths?

27. Use set operations to find all elements in either A or B

28. Use set operations to find all elements in both A or B

29. Use set operations to find all elements in B but not A

30. Convert the following set to list

In [ ]:
C = set({'f', 'g', 'a'})

31. Use Sets to count the unique items in this list

In [ ]:
L = [1, 2, 3, 6, 1, 6, 4, 5, 7, 7, 2, 8, 1, 9, 3]

## Dictionaries

32. Create a dictionary of capital cities. Allow the user to look up a capital city by supplying the country's name. Add 3 countries to the dictionary. Make sure you test it out

33. Count each of the items in this list. Output a dictionary where the key is the list-item and the value is the number of occurrences in the list

In [ ]:
items_to_count = ['a', 'b', 'b', 'c', 'd', 'f', 'a', 'b']

34. Loop through your capital cities dictionary and output only the countries

34. Loop through your capital cities dictionary and output only the capital cities

34. Loop through your capital cities dictionary and print out "{city} is the capital of {country}" for each one

## Strings

35. Count the number of words in this sentence

In [ ]:
text = 'Count the number of words in this sentence'

36. Replace the letter 'b' with the letter 'k' in this sentence

In [ ]:
text = "King's Bollege Bambridge"

37. Print only the text between * and & in the following string

In [ ]:
text = "That *parrot's just pining for the& fjords"

38. Create a list of ways to say the parrot's dead

In [ ]:
text = "is no more, has ceased to be, bereft of life, it rests in peace, this is an ex-parrot"

39. Convert your list back to a string, seperated by the | character

40. Remove the empty items from this csv, and output the result as a new comma-separated string

In [ ]:
text = "1,,2,3,4,5,,,6"


output = "1,2,3,4,5,6"